body{
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
}

.cloud1{
    width: 140px;
    position: absolute;
    right: 250px;
    top: 30px;
}
.cloud2{
    width: 150px;
    position: absolute;
    left: 250px;
    bottom: 330px;
}

.mountain{
    width: 600px;
}

h1{
    margin: 0;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    color: #4faca9;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #4faca9;
    font-weight:200;
    
}

h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

.pro{
    text-decoration: underline;
}


.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    
}

.top-container{
    background-color: #d6f2e7;
    position: relative;
    padding: 100px 100px 0;
}

.profile-description{
    width: 20.5%;
    margin: auto;;
}

.middle-container{
    margin: 100px auto;
}
.bottom-container{
    background-color: #66BFBF;
    padding: 50px 0 20px;
}

p{
    color: rgb(32, 32, 32);
    line-height: 2;
}

a{
    color: #11999E;
    margin: 10px 20px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;

}
a:hover{
    color: #EAF6F6;
}

hr{
    border-style: none;
    border-top-style: dotted;
    border-color: rgb(172, 171, 171);
    border-width: 7px;
    width: 7%;
    margin: 100px auto 100px;
}
.prog{
    width: 25%;
    float: left;
    margin-right: 30px;
}

.comp{
    width: 25%;
    float: right;
    margin-left: 30px;
}
.contact-message{
    width: 40%;
    margin: 40px auto 60px;
}

.copyright{
    padding: 20px 0 30px;
    font-size: 15px;
    color: #EAF6F6;
}

.btn {
    background: #11CDD4;
    background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
    background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
    background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
    background-image: -o-linear-gradient(top, #11CDD4, #11999E);
    background-image: linear-gradient(to bottom, #11CDD4, #11999E);
    -webkit-border-radius: 12;
    -moz-border-radius: 12;
    border-radius: 12px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30E3CB;
    background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
    text-decoration: none;
  }

